<div class="about"></div><h1>About Us</h1>
    <p>Spinteresting is a web and mobile application company that operates an eponymous photo sharing website. Registration is required for use. The site was founded by Gene Ryan Briones. It is managed by Briones Labs and funded by a small group of entrepreneurs and investors.</p>
    
    <p>Spinteresting CEO Gene Briones summarized the company as a "catalog of creative things," rather than as a social network, that inspires users to go out and do that thing. Spinteresting is a free website that requires registration to use.[4] Users can upload, save, sort, and manage images—known as pins—and other media content (e.g., videos) through collections known as spinboards Spinteresting acts as a personalized media platform.</p> 
    
    <p>Users can browse the content of others in their feed. Users can then save individual pins to one of their own boards using the "Spin It" button, with spinboards typically organized by a central topic or theme. Users can personalize their experience with Spinteresting by spinning items, creating boards, and interacting with other members. By doing so, the users "pin feed" displays unique, personalized results.</p>
</div>