<div class="jumbotron center">
    <h1>Welcome to Spinteresting</h1>
    <p>Where all things interesting and cool thrive to drive creative individuals who appreciate art, technology, culture, food, and literature.</p>
    
    <%= link_to "Login", root_path, class: 'btn btn-default btn-lg' %>
    <%= link_to "Join", root_path, class: 'btn btn-primary btn-lg' %>
</div>